@charset "UTF-8";
/*font*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
html {
  font-size: 10px; }

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #232323; }

.content-title {
  /*40px / 1920px * 100*/
  margin-left: 2.08%;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 2.22; }

.content-sub-title {
  display: inline-block;
  position: relative;
  margin: 2px 0 0 25px;
  vertical-align: top;
  font-size: 18px;
  font-weight: 500;
  line-height: 4.44; }
  .content-sub-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 5px;
    height: 30px;
    background-color: #4f98b0; }

/*sr-only*/
.sr-only {
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0); }

/*image*/
.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/*button*/
button {
  background-color: transparent;
  border: none;
  cursor: pointer; }

/*a, li*/
a,
li {
  cursor: pointer; }

/*layout*/
body {
  padding-top: 80px; }

.grid-width {
  margin: 0 auto;
  width: 1320px; }

.content {
  /*160px / 1920px * 100*/
  padding: 8.33% 0; }
  .content .content-header {
    text-align: center; }
  .content .content-body {
    margin-top: 40px; }

/*global-header*/
.global-header {
  position: fixed;
  top: 0;
  z-index: 9000;
  border-bottom: 1px solid #efefef;
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  /*mobile-nav*/ }
  .global-header .header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer; }
  .global-header .global-nav {
    display: flex;
    justify-content: space-between; }
  .global-header .nav-overlay {
    position: absolute;
    top: calc(100% + 1px);
    overflow: hidden;
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.5s; }
    .global-header .nav-overlay.active {
      height: 190px; }
  .global-header .main-nav {
    display: flex; }
  .global-header .main-nav-item {
    position: relative;
    border-right: 1px solid #efefef; }
  .global-header .main-nav-item:hover {
    background-color: #4f98b0; }
  .global-header .main-nav-item > a {
    display: block;
    width: 160px;
    font-weight: 500;
    line-height: 80px;
    text-align: center; }
  .global-header .main-nav-item:hover > a {
    color: #ffffff; }
  .global-header .dropdown-nav-list {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    z-index: 10;
    overflow: hidden;
    height: 0;
    width: calc(100% + 1px);
    transition: 0.5s; }
    .global-header .dropdown-nav-list.active {
      height: 190px; }
  .global-header .dropdown-nav-item:first-of-type {
    padding-top: 15px; }
  .global-header .dropdown-nav-item {
    padding-left: 20px; }
  .global-header .dropdown-nav-item > a {
    font-size: 14px;
    color: #77777a;
    line-height: 1.875; }
  .global-header .dropdown-nav-item:hover > a {
    font-weight: 500;
    color: #232323; }
  .global-header .sub-nav {
    display: flex; }
  .global-header .sub-nav-item {
    margin-right: 30px; }
  .global-header .sub-nav-item > a {
    display: block;
    font-size: 14px;
    color: #77777a;
    line-height: 80px; }
  .global-header .sub-nav-item span {
    position: relative;
    margin-left: 7px; }
    .global-header .sub-nav-item span::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      z-index: 15;
      bottom: -5px;
      margin: auto;
      width: 0;
      height: 1px;
      background-color: #77777a;
      transition: 0.5s; }
    .global-header .sub-nav-item span:hover::after {
      width: 100%; }
  .global-header .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
    transition: 0.5s; }
  .global-header .search-form:hover {
    width: 300px; }
  .global-header .serach-input-wrapper {
    overflow: hidden;
    width: 0; }
  .global-header .search-form:hover .serach-input-wrapper {
    width: 200px; }
  .global-header .search-input {
    padding: 20px;
    width: 0;
    height: 40px;
    border: 1px solid #efefef;
    border-radius: 20px; }
  .global-header .search-form:hover .search-input {
    width: 200px; }
  .global-header .search-submit-button {
    width: 80px;
    color: #77777a;
    font-size: 14px; }
  .global-header .mobile-nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 80px;
    color: #77777a; }
  .global-header .mobile-nav-button {
    padding-left: 3%; }
  .global-header .mobile-utill {
    display: flex;
    padding: 3%; }
  .global-header .mobile-utill-item {
    margin-left: 10px; }
  .global-header .mobile-menu {
    position: absolute;
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #fff;
    transform: translateX(-100%);
    transition: 0.5s; }
  .global-header .mobile-menu.show {
    transform: translateX(0); }
  .global-header .mobile-menu-list {
    position: relative;
    display: flex; }
  .global-header .mobile-menu-item {
    width: 50%;
    text-align: center;
    border: 1px solid #ebebeb; }
  .global-header .mobile-menu-item.clicked {
    color: #fff;
    background-color: #4f98b0;
    border-bottom: 1px solid #fff; }
  .global-header .mobile-menu-item:nth-of-type(2) {
    margin-left: -1px;
    width: calc(50% + 1px); }
  .global-header .mobile-subclass-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: #77777a;
    text-align-last: left; }
  .global-header .clicked .mobile-subclass-menu {
    display: block; }
  .global-header .mobile-subclass-menu-item {
    padding-left: 3%;
    border-bottom: 1px solid #ebebeb;
    font-size: 12px; }
  .global-header .mobile-subclass-menu-item .first {
    font-weight: 500;
    color: #232323; }
  .global-header .mobile-search {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-top: 250px;
    padding-left: 3%; }
  .global-header .mobile-search-input {
    height: 30px;
    border: 1px solid #ebebeb;
    border-radius: 20px; }
  .global-header .mobile-search-input::placeholder {
    text-align: center; }
  .global-header .mobile-search-button {
    width: 30px;
    line-height: 30px; }

/*page-pagination*/
.page-pagination {
  padding: 20px 0 20px 40px; }
  .page-pagination .current-page::before {
    content: ">";
    margin: 0 5px; }

/*global-footer*/
.global-footer {
  /*
  pt,pb:120px / 1920px *100
  pr,pl:20px / 1920px * 100
  */
  padding: 6.25% 1.04%;
  background-color: #80a2ad;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  color: #efefef;
  /*find-on-us*/
  /*discover-more*/
  /*company info*/ }
  .global-footer .footer-menu-body {
    margin-top: 20px; }
  .global-footer .footer-menu-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 2.22; }
  .global-footer .row:first-of-type ~ .row {
    margin-top: 40px; }
  .global-footer .row-1 {
    display: flex;
    justify-content: space-between; }
  .global-footer .row-3 {
    text-align: center; }
  .global-footer .col-2 {
    display: flex;
    justify-content: space-around; }
  .global-footer .find-on-us .sns-list {
    display: flex; }
  .global-footer .find-on-us .sns-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #4f98b0;
    border-radius: 15px;
    color: #efefef;
    margin-right: 15px; }
  .global-footer .discover-more {
    margin-left: 40px; }
  .global-footer .company-info {
    margin-top: 40px;
    text-align: center; }
    .global-footer .company-info .company-info-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .global-footer .company-info .company-info-list:first-of-type ~ .company-info-list {
        margin-top: 20px; }
    .global-footer .company-info .company-info-wrapper {
      display: flex; }
      .global-footer .company-info .company-info-wrapper::after {
        content: "/";
        margin: 0 10px; }
      .global-footer .company-info .company-info-wrapper dt::after {
        content: ":";
        margin: 0 5px; }

/*media queries*/
/*1320px 이하*/
@media screen and (max-width: 1320px) {
  /*layout*/
  .content {
    /*160px / 1320px * 100*/
    padding: 12.12% 0; }
    .content .content-header {
      text-align: center; }
  .grid-width {
    width: 95%; } }

/*1024px 이하*/
@media screen and (max-width: 1024px) {
  /*layout*/
  .content {
    /*160px / 1024px * 100*/
    padding: 15.63% 0; }
    .content .content-header {
      text-align: center; }
  /*global-header*/
  .global-header .mobile-nav-button {
    display: block; }
  .global-header .global-nav {
    display: none; }
  .global-header .active .dropdown-nav-list {
    height: 100%; }
  .global-header .sub-nav {
    position: absolute;
    top: 0;
    right: 0; }
  .global-header .sub-nav-item span {
    display: none; }
  .global-header .mobile-nav {
    display: flex; }
  /*global-footer*/
  .global-footer .row-1 {
    justify-content: center;
    text-align: center; }
  .global-footer .col-2 {
    display: none; } }

/*768px 이하*/
@media screen and (max-width: 768px) {
  /*font*/
  .content-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.667; }
  .content-sub-title {
    display: block;
    position: static;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1; }
    .content-sub-title::before {
      content: "";
      display: block;
      position: static;
      transform: translateY(0);
      margin-bottom: 10px;
      width: 30px;
      height: 5px; }
  .segment-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.875; }
  /*layout*/
  .content {
    /*160px / 1320px * 100*/
    padding: 20.83% 0; }
    .content .content-header {
      text-align: center; }
  /*global-header*/
  .global-header .header-logo-img {
    height: 30px; }
  /*global-footer*/
  .global-footer {
    font-size: 8px; }
    .global-footer .company-info {
      text-align: left; }
      .global-footer .company-info .company-info-list {
        display: block; }
      .global-footer .company-info .company-info-wrapper {
        display: block; }
        .global-footer .company-info .company-info-wrapper::after {
          content: ""; }
        .global-footer .company-info .company-info-wrapper dt,
        .global-footer .company-info .company-info-wrapper dd {
          display: inline; }
        .global-footer .company-info .company-info-wrapper dd {
          font-weight: 400; } }

/*# sourceMappingURL=common.css.map */