@charset "UTF-8";
.content-title {
  text-align: center; }

.button {
  display: block;
  width: 180px;
  height: 50px;
  background-color: #4f98b0;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.22;
  text-align: center;
  color: #efefef; }

/*login*/
.login {
  padding-bottom: 0; }
  .login .login-form {
    margin: 0 auto;
    padding-bottom: 80px;
    width: 620px;
    border-bottom: 1px solid #4f98b0; }
  .login .form-group {
    display: flex;
    justify-content: space-between; }
  .login input {
    width: 65%;
    height: 50px;
    padding: 20px;
    border: 1px solid #efefef;
    border-radius: 10px;
    font-size: 16px; }
  .login input::placeholder {
    font-size: 16px; }
  .login .checkbox-wrapper {
    display: flex;
    align-items: center; }
  .login .id-save-checkbox {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 2px; }
  .login .id-save-label {
    color: #77777a; }
  .login .password {
    margin-top: 10px; }

.sign-up {
  padding-top: 0; }
  .sign-up .content-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px; }
  .sign-up p {
    margin-right: 40px;
    color: #77777a; }
  .sign-up a {
    line-height: 50px;
    color: #232323;
    background-color: #efefef; }

/*media queries*/
/*1320px 이하*/
@media screen and (max-width: 1320px) {
  /*login*/
  .login .login-form {
    /*80px / 1320px * 100*/
    padding-bottom: 6.06%; }
  /*sign-up*/
  .sign-up .content-body {
    /*80px / 1320px * 100*/
    margin-top: 6.06%; } }

/*1024px 이하*/
@media screen and (max-width: 1024px) {
  /*login*/
  .login .login-form {
    /*80px / 1024px * 100*/
    padding-bottom: 7.81%; }
  /*sign-up*/
  .sign-up .content-body {
    /*80px / 1024px * 100*/
    margin-top: 7.81; } }

/*768px 이하*/
@media screen and (max-width: 768px) {
  .button {
    width: 140px; }
  /*.login*/
  .login .login-form {
    width: 100%; }
  /*.sign-up*/
  .sign-up .content-body {
    display: block; }
  .sign-up p {
    text-align: center; }
  .sign-up .button {
    margin: 10px auto 0; } }
