@import "./variable.scss";
/*main-slide*/
.main-slide {
  z-index: 1;
  .slide-item {
    height: 800px;
  }
}
/*content*/
/*collaboration*/
.collaboration {
  .content-body {
    position: relative;
    /* 400px / 1920px * 100 */
    padding-bottom: 20.83%;
  }
  .article-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  article {
    width: 33.333%;
    overflow: hidden;
  }
  .segment {
    /*80px / 640px * 100*/
    padding-top: 12.5%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: $color-white;
    text-align: center;
    transform: translateY(100%);
    transition: 0.5s;
  }
  article:hover .segment {
    transform: translateY(0);
  }
  a {
    display: block;
    /*mt: 40px / 640px *100 */
    margin: 6.25% auto 0;
    width: 200px;
    background-color: $color-brand;
    border-radius: 50px;
    line-height: 50px;
  }
  .swiper-scrollbar {
    display: none;
  }
}
/*hot-item*/
.hot-item {
  padding-bottom: 0;
  .content-body {
    position: relative;
    border-top: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
    //overflow: hidden;
  }
  .content-slide-item {
    padding: 20px 0 40px;
    width: 25%;
    border-right: 1px solid $color-white;
  }
  .img-wrapper {
    width: 50%;
    margin: 0 auto;
  }
  .product-img {
    width: 100%;
    height: auto;
  }
  .segment {
    margin-top: 20px;
    text-align: center;
  }
  .product-number {
    font-weight: 700;
  }
  .product-prev-price,
  .product-current-price {
    display: block;
    @include font-xs;
  }
  .product-prev-price {
    color: $color-grey-01;
    text-decoration: line-through;
  }
  .swiper-scrollbar {
    position: absolute;
    bottom: 0;
    height: 5px;
  }
}
/*.video*/
.video {
  padding: 40px 0;
  .content-body {
    margin: 0;
  }
  .video-wrapper {
    position: relative;
    /*1000px / 1920px * 100*/
    padding-bottom: 52%;
  }
  .video-wrapper .jansport-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
/*banner*/
.banner {
  position: relative;
  /*40px / 1920px * 100*/
  margin: 0 2.08%;
  /*440px / 1840px *100*/
  padding-bottom: 23.91%;
  .banner-body {
    position: absolute;
    top: 0;
    left: 0;
    /* 120px / 1920px *100 */
    padding-top: 6.25%;
    width: 100%;
    height: 100%;
    background-image: url(../images/index/banner_image.jpg);
    background-attachment: fixed;
    color: $color-white;
    text-align: center;
  }
  .banner-title {
    @include font-xxl;
  }
  p {
    /*40px / 1920px * 100*/
    margin-top: 2.083%;
    /*lh : 40px*/
    @include font-lg($lh: 1.67);
  }
}
/*explore-jansport*/
.explore-jansport {
  .content-body {
    display: flex;
    justify-content: space-around;
  }
  article {
    width: calc(16.6667% - 40px);
    cursor: pointer;
  }
  .img-wrapper {
    position: relative;
    padding-bottom: 100%;
    border-radius: 300px;
    overflow: hidden;
  }
  .explore-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: 0.5s;
  }
  article:hover .explore-img {
    transform: scale(1.05);
  }
  .segment-title {
    margin-top: 20px;
    @include font-md;
    text-align: center;
  }
}
/*media queries*/
@media screen and (max-width: 1024px) {
  /*main-slide*/
  .main-slide {
    .slide-item {
      //height: 600px;
    }
  }
  /*.collaborattion*/
  .collaboration {
    .content-body {
      padding-bottom: 62.5%;
    }
    .segment {
      /*150px 1024px *100*/
      padding-top: 14.65%;
    }
    .swiper-scrollbar {
      display: block;
      position: absolute;
      bottom: 0;
    }
  }
  /*.banner*/
  .banner {
    /*510px / 973px * 100*/
    padding-bottom: 52.41%;
  }
  /*.explore-jansport*/
  .explore-jansport {
    .content-body {
      justify-content: space-around;
      flex-wrap: wrap;
    }
    article {
      width: calc(33.333% - 15px);
      &:nth-of-type(3) ~ article {
        margin-top: 40px;
      }
    }
  }
}
/*768px 이하*/
@media screen and (max-width: 768px) {
  .banner {
    padding-bottom: 93.75%;
    .banner-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .banner-title {
      @include font-lg($fw: 900);
    }
    p {
      @include font-md;
    }
  }

  /*.explore-jansport*/
  .explore-jansport {
    article {
      width: calc(50% - 15px);
      &:nth-of-type(2) ~ article {
        margin-top: 40px;
      }
      .img-wrapper {
        /*330px /360px *100*/
        //width: 91.67%;
      }
    }
  }
}

/*images*/
.slide-item {
  &.i1 {
    background-image: url(../images/index/main_slide_image_01.jpg);
  }
  &.i2 {
    background-image: url(../images/index/main_slide_image_02.jpg);
  }
  &.i3 {
    background-image: url(../images/index/main_slide_image_03.jpg);
  }
}
.collaboration {
  .bg-img01 {
    background-image: url(../images/index/collaboration_rolarola.jpg);
  }
  .bg-img02 {
    background-image: url(../images/index/collaboration_diseney.jpg);
  }
  .bg-img03 {
    background-image: url(../images/index/collaboration_mark_gonzaless.jpg);
  }
}
