@import "./variable.scss";
.content-title {
  text-align: center;
}
.button {
  display: block;
  width: 180px;
  height: 50px;
  background-color: $color-brand;
  border-radius: 10px;
  @include font-md($lh: 50px, $fw: 400);
  text-align: center;
  color: $color-white;
}
/*login*/
.login {
  padding-bottom: 0;
  .login-form {
    margin: 0 auto;
    padding-bottom: 80px;
    width: 620px;
    border-bottom: 1px solid $color-brand;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
  }
  input {
    width: 65%;
    height: 50px;
    padding: 20px;
    border: 1px solid $color-white;
    border-radius: 10px;
    font-size: 16px;
  }
  input::placeholder {
    font-size: 16px;
  }
  .checkbox-wrapper {
    display: flex;
    align-items: center;
  }
  .id-save-checkbox {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
  }
  .id-save-label {
    color: $color-grey-01;
  }
  .password {
    margin-top: 10px;
  }
}
.sign-up {
  padding-top: 0;
  .content-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  p {
    margin-right: 40px;
    color: $color-grey-01;
  }
  a {
    color: $color-black;
    background-color: $color-white;
  }
}
/*media queries*/
/*1320px 이하*/
@media screen and (max-width: 1320px) {
  /*login*/
  .login {
    .login-form {
      /*80px / 1320px * 100*/
      padding-bottom: 6.06%;
    }
  }
  /*sign-up*/
  .sign-up {
    .content-body {
      /*80px / 1320px * 100*/
      margin-top: 6.06%;
    }
  }
}
/*1024px 이하*/
@media screen and (max-width: 1024px) {
  /*login*/
  .login {
    .login-form {
      /*80px / 1024px * 100*/
      padding-bottom: 7.81%;
    }
  }
  /*sign-up*/
  .sign-up {
    .content-body {
      /*80px / 1024px * 100*/
      margin-top: 7.81;
    }
  }
}
/*768px 이하*/
@media screen and (max-width: 768px) {
  .button {
    width: 120px;
    height: 40px;
    @include font-xxs($lh: 40px);
  }
  /*.login*/
  .login {
    .login-form {
      position: relative;
      width: 100%;
    }
    .form-group {
      display: block;
    }
    input {
      width: 100%;
      height: 40px;
    }
    input::placeholder {
      @include font-xxs($lh: 40px);
    }
    .checkbox-wrapper {
      position: absolute;
      top: 108px;
      align-items: center;
    }
    .id-save-checkbox {
      width: 15px;
      height: 15px;
    }
    .id-save-label {
      @include font-xxs($lh: 40px);
    }
    .button {
      margin-top: 20px;
      margin-left: auto;
    }
  }
  /*.sign-up*/
  .sign-up {
    .content-body {
      display: block;
    }
    p {
      @include font-xxs;
      text-align: center;
    }
    .button {
      margin: 10px auto 0;
    }
  }
}
