@import "./variable.scss";
.content-title {
  display: block;
  text-align: center;
}
.button {
  width: 180px;
  height: 50px;
  background-color: $color-brand;
  border-radius: 10px;
  @include font-md;
  color: $color-white;
}
/*login*/
.login {
  padding-bottom: 0;
  .login-form {
    margin: 0 auto;
    padding-bottom: 80px;
    width: 620px;
    border-bottom: 1px solid $color-brand;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
  }
  input {
    width: 400px;
    height: 50px;
    padding: 20px;
    border: 1px solid $color-white;
    border-radius: 10px;
  }
  input::placeholder {
    font-size: 16px;
  }
  .checkbox-wrapper {
    display: flex;
    align-items: center;
  }
  .id-save-checkbox {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
  }
  .id-save-label {
    color: $color-grey-01;
  }
  .password {
    margin-top: 10px;
  }
}
.sign-up {
  padding-top: 0;
  .content-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  p {
    margin-right: 40px;
    color: $color-grey-01;
  }
  a {
    text-align: center;
    line-height: 50px;
    font-weight: 400;
    color: $color-black;
    background-color: $color-white;
  }
}
